<section class="column span-24">
  <h1>Login</h1>
  <form action="/login" method="post">
    <p><label>Email:<input name="email" type="text"/></label></p>
    <p><label>Password:<input name="password" type="password"/></label></p>
    <p><input name="submit" type="submit" value="register"/></p>
  </form>
</section>